meta(charset="UTF-8")
meta(name="description",content='Valiosa información en el movimiento migratorio de Aldo Cáceda, la pareja del sospechoso criminal, el estudiante Wilfredo Zamora. La policía ha pedido detener al empresario.')
meta(http-equiv="X-UA-Compatible",content="IE=edge")
meta(name="viewport",content="width=device-width, initial-scale=1.0, user-scalable=no")
meta(name="robots",content="index,follow")

meta(property="fb:app_id",content="489210501129201")
meta(property="og:site_name",content="LaRepublica.pe")
meta(property="og:type",content="website")
<!-- Twitter Card data -->
meta(name="twitter:card",content="summary_large_image")
meta(name="twitter:site",content="@larepublica_pe")

meta(name="og:width",content="498")
meta(name="og:height",content="500")

meta(name="twitter:width",content="498")
meta(name="twitter:height",content="500")
meta(itemprop="name",content="Caso José Yactayo: Nuevas pistas sobre el asesinato ")
meta(itemprop="description",content='Valiosa información en el movimiento migratorio de Aldo Cáceda, la pareja del sospechoso criminal, el estudiante Wilfredo Zamora. La policía ha pedido detener al empresario.')

meta(name="MobileOptimized",content="width")
meta(name="HandheldFriendly",content="true")
title Chim pum Callao, Auge y ¿caída?


meta(property="og:description",content='Valiosa información en el movimiento migratorio de Aldo Cáceda, la pareja del sospechoso criminal, el estudiante Wilfredo Zamora. La policía ha pedido detener al empresario.')
meta(property="og:url",content="http://larepublica.pe/data/caso-jose-yactayo/")
meta(property="og:title",content="Caso José Yactayo: Nuevas pistas sobre el asesinato")
meta(property="og:image",content="http://larepublica.pe/data/caso-jose-yactayo/images/compartir.jpg")

meta(name="twitter:url",content="http://larepublica.pe/data/caso-jose-yactayo/")
meta(name="twitter:image",content="http://larepublica.pe/data/caso-jose-yactayo/images/foto-fondo2.jpg")
meta(name="twitter:title",content="Caso José Yactayo: Nuevas pistas sobre el asesinato")
meta(name="twitter:description",content='Valiosa información en el movimiento migratorio de Aldo Cáceda, la pareja del sospechoso criminal, el estudiante Wilfredo Zamora. La policía ha pedido detener al empresario.')