meta(charset="UTF-8")
meta(name="description",content='Veintidós años gobernando la región suman casos de corrupción que golpean al controversial movimiento político, que pasa de las urnas a los tribunales.')
meta(http-equiv="X-UA-Compatible",content="IE=edge")
meta(name="viewport",content="width=device-width, initial-scale=1.0, user-scalable=no")
meta(name="robots",content="index,follow")

meta(property="fb:app_id",content="489210501129201")
meta(property="og:site_name",content="LaRepublica.pe")
meta(property="og:type",content="website")
<!-- Twitter Card data -->
meta(name="twitter:card",content="summary_large_image")
meta(name="twitter:site",content="@larepublica_pe")
meta(itemprop="name",content="Chim pum Callao, Auge y ¿caída?")
meta(itemprop="description",content='Veintidós años gobernando la región suman casos de corrupción que golpean al controversial movimiento político, que pasa de las urnas a los tribunales.')

meta(name="MobileOptimized",content="width")
meta(name="HandheldFriendly",content="true")
title Chim pum Callao, Auge y ¿caída?


meta(property="og:description",content='Veintidós años gobernando la región suman casos de corrupción que golpean al controversial movimiento político, que pasa de las urnas a los tribunales.')
meta(property="og:url",content="http://larepublica.pe/data/chimpum-callao-auge-caida/")
meta(property="og:title",content="Chim pum Callao, Auge y ¿caída?")
meta(property="og:image",content="http://larepublica.pe/data/chimpum-callao-auge-caida/images/redes.jpg")

meta(name="twitter:url",content="http://larepublica.pe/data/chimpum-callao-auge-caida/")
meta(name="twitter:image",content="http://larepublica.pe/data/chimpum-callao-auge-caida/images/redes.jpg")
meta(name="twitter:title",content="Chim pum Callao, Auge y ¿caída?")
meta(name="twitter:description",content='Veintidós años gobernando la región suman casos de corrupción que golpean al controversial movimiento político, que pasa de las urnas a los tribunales.')