
// Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)
svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='294.75px', height='889.501px', viewbox='0 0 294.75 889.501', enable-background='new 0 0 294.75 889.501', xml:space='preserve')
    g#lineas
        rect(x='5.75', y='251.5', fill='#989898', width='10', height='585')
        rect(x='5.75', y='826.5', fill='#989898', width='41', height='10')
        rect(x='5.75', y='724.5', fill='#989898', width='41', height='10')
        rect(x='5.75', y='622.5', fill='#989898', width='41', height='10')
        rect(x='5.75', y='520.5', fill='#989898', width='41', height='10')
        rect(x='5.75', y='418.5', fill='#989898', width='41', height='10')
        rect(x='5.75', y='317.5', fill='#989898', width='41', height='10')
        rect(x='5.75', y='251.5', fill='#989898', width='122', height='10')
        rect(x='126.75', y='97.5', fill='#989898', width='10', height='164')
    g#Capa_1
        rect(x='46.75', y='284.5', fill='#007E33', width='168', height='76')
        rect(x='46.75', y='385.5', fill='#007E33', width='160', height='76')
        rect(x='46.75', y='589.5', fill='#007E33', width='161', height='76')
        rect(x='46.75', y='793.5', fill='#007E33', width='165', height='76')
        rect(x='46.75', y='485.5', fill='#007E33', width='168', height='76')
        rect(x='44.75', y='26.5', fill='#007E33', width='166', height='76')
        rect(x='46.75', y='691.5', fill='#007E33', width='163', height='76')
        rect(x='44.75', y='142.5', fill='#007E33', width='166', height='76')
    g#cargo
        text(transform='matrix(1 0 0 1 54.731 300.0898)')
            tspan(x='0', y='0', fill='#FFFFFF', font-family="'Roboto-Bold'", font-size='14') S. de Org. 
            tspan(x='0', y='16.801', fill='#FFFFFF', font-family="'Roboto-Bold'", font-size='14') y Política
            tspan(x='0', y='33.6', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='14') Iván Rivadeneyra 
            tspan(x='0', y='50.4', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='14') Medina 
        g
            text(transform='matrix(1 0 0 1 58.8315 401.0898)')
                tspan(x='0', y='0', fill='#FFFFFF', font-family="'Roboto-Bold'", font-size='14') S. de Mujer 
                tspan(x='0', y='16.801', fill='#FFFFFF', font-family="'Roboto-Bold'", font-size='14') y Org. Sociales
                tspan(x='0', y='33.6', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='14') Rosmery Segura 
                tspan(x='0', y='50.4', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='14') Neyra 
        g
            text(transform='matrix(1 0 0 1 56.75 503.0049)')
                tspan(x='0', y='0', fill='#FFFFFF', font-family="'Roboto-Bold'", font-size='14') S. de Educación 
                tspan(x='0', y='16.8', fill='#FFFFFF', font-family="'Roboto-Bold'", font-size='14') y Cultura
                tspan(x='0', y='33.6', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='14') Nancy Villela
                tspan(x='0', y='50.4', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='14') Alvarado 
        g
            text(transform='matrix(1 0 0 1 57.1655 605.3682)')
                tspan(x='0', y='0', fill='#FFFFFF', font-family="'Roboto-Bold'", font-size='14') S. de 
                tspan(x='0', y='16.8', fill='#FFFFFF', font-family="'Roboto-Bold'", font-size='14') Juventudes
                tspan(x='0', y='33.6', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='14') Víctor Suelpres 
                tspan(x='0', y='50.4', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='14') Jerez 
        g
            text(transform='matrix(1 0 0 1 56.0845 715.4053)')
                tspan(x='0', y='0', fill='#FFFFFF', font-family="'Roboto-Bold'", font-size='14') S. de Actas
                tspan(x='0', y='16.8', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='14') Marco Palomino 
                tspan(x='0', y='33.6', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='14') Peña 
        g
            text(transform='matrix(1 0 0 1 57.9189 809.3682)')
                tspan(x='0', y='0', fill='#FFFFFF', font-family="'Roboto-Bold'", font-size='14') S. de 
                tspan(x='0', y='16.8', fill='#FFFFFF', font-family="'Roboto-Bold'", font-size='14') Prensa y 
                tspan(x='0', y='33.6', fill='#FFFFFF', font-family="'Roboto-Bold'", font-size='14') Propaganda
                tspan(x='0', y='50.4', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='14') Gloria Lara Ávila
                tspan(x='101.425', y='50.4', fill='#FFFFFF', font-family="'Roboto-Bold'", font-size='14')  
        text(transform='matrix(1 0 0 1 56.8125 57.2461)')
            tspan(x='0', y='0', fill='#FFFFFF', font-family="'Roboto-Bold'", font-size='18') Presidente
            tspan(x='87.697', y='0', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='18')  
            tspan(x='0', y='21.6', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='18') Alex Kouri
        text(transform='matrix(1 0 0 1 54.75 167.207)')
            tspan(x='0', y='0', fill='#FFFFFF', font-family="'Roboto-Bold'", font-size='17') Secretario 
            tspan(x='0', y='20.4', fill='#FFFFFF', font-family="'Roboto-Bold'", font-size='17') general
            tspan(x='0', y='40.8', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='17') Félix Moreno
    g#fotos
        g
            defs
                circle#SVGID_01_(cx='212.625', cy='63.625', r='38.125')
            clippath#SVGID_02_
                use(xlink:href='#SVGID_01_', overflow='visible')
            g(transform='matrix(1 0 0 1 -3.323712e-007 -1.371881e-006)', clip-path='url(#SVGID_02_)')
                image(overflow='visible', width='513', height='285', xlink:href='images/organifotos/kuri.jpg',transform='matrix(0.2675 0 0 0.2675 161.2031 25.5044)')
        g
            defs
                circle#SVGID_03_(cx='211.625', cy='322.625', r='38.125')
            clippath#SVGID_04_
                use(xlink:href='#SVGID_03_', overflow='visible')
            g(transform='matrix(1 0 0 1 -1.266400e-005 -1.367414e-005)', clip-path='url(#SVGID_04_)')
                image(overflow='visible', width='630', height='355', xlink:href='images/organifotos/ivan.jpg', transform='matrix(0.2816 0 0 0.2816 118.4238 284.499)')
        g
            defs
                circle#SVGID_05_(cx='210.625', cy='831.625', r='38.125')
            clippath#SVGID_06_
                use(xlink:href='#SVGID_05_', overflow='visible')
            g(transform='matrix(1 0 0 1 6.413690e-006 2.034143e-005)', clip-path='url(#SVGID_06_)')
                image(overflow='visible', width='320', height='421', xlink:href='images/organifotos/gloria.jpg', transform='matrix(0.2418 0 0 0.2418 172.0605 792.502)')
        g
            defs
                circle#SVGID_07_(cx='211.625', cy='523.625', r='38.125')
            clippath#SVGID_08_
                use(xlink:href='#SVGID_07_', overflow='visible')
            g(transform='matrix(1 0 0 1 -2.025379e-006 1.235795e-005)', clip-path='url(#SVGID_08_)')
                image(overflow='visible', width='640', height='452', xlink:href='images/organifotos/nancy.jpg', transform='matrix(0.3308 0 0 0.3308 52.9082 483.748)')
        g
            defs
                circle#SVGID_09_(cx='212.625', cy='179.625', r='38.125')
            clippath#SVGID_010_
                use(xlink:href='#SVGID_09_', overflow='visible')
            g(transform='matrix(1 0 0 1 3.656163e-006 -2.803401e-006)', clip-path='url(#SVGID_010_)')
                image(overflow='visible', width='630', height='355', xlink:href='images/organifotos/felix.jpg',
                transform='matrix(0.2177 0 0 0.2177 145.8535 141.5044)')
        g
            defs
                circle#SVGID_011_(cx='207.875', cy='423.625', r='38.125')
            clippath#SVGID_012_
                use(xlink:href='#SVGID_011_', overflow='visible')
            g(transform='matrix(1 0 0 1 1.720087e-006 -1.041160e-005)', clip-path='url(#SVGID_012_)')
                image(overflow='visible', width='720', height='540', xlink:href='images/organifotos/rosme.jpg',
                transform='matrix(0.3556 0 0 0.3556 70.6289 329.8779)')
        g
            defs
                circle#SVGID_013_(cx='206.875', cy='627.625', r='38.125')
            clippath#SVGID_014_
                use(xlink:href='#SVGID_013_', overflow='visible')
            g(transform='matrix(1 0 0 1 -4.833369e-007 -3.224266e-005)', clip-path='url(#SVGID_014_)')
                image(overflow='visible', width='960', height='720', xlink:href='images/organifotos/victor.jpg', transform='matrix(0.2731 0 0 0.2731 35.0659 560.167)')
        g
            defs
                circle#SVGID_015_(cx='206.875', cy='729.625', r='38.125')
            clippath#SVGID_016_
                use(xlink:href='#SVGID_015_', overflow='visible')
            g(transform='matrix(1 0 0 1 -1.205356e-005 -2.449745e-005)', clip-path='url(#SVGID_016_)')
                image(overflow='visible', width='511', height='545', xlink:href='images/organifotos/marco.jpg', transform='matrix(0.2474 0 0 0.2474 131.4253 691.502)')
    g#Capa_5
        rect(x='15.75', y='13.5', opacity='0.9', fill='#2D2D2D', width='254', height='88')
        rect(x='21.583', y='17.5', fill='none', width='250.167', height='84')
        text(transform='matrix(1 0 0 1 21.583 26.5)')
            tspan(x='0', y='0', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='12') Preso por el caso Convial. En junio del 2016, la 
            tspan(x='0', y='14', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='12') Cuarta Sala Penal Liquidadora de Lima lo 
            tspan(x='0', y='28', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='12') sentenció a cinco años de prisión por colusión 
            tspan(x='0', y='42', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='12') desleal, inhabilitación para la función pública 
            tspan(x='0', y='56', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='12') por tres años, y pago de una reparación de 26 
            tspan(x='0', y='70', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='12') millones de soles.
    g#Capa_6
        rect(x='16.75', y='129.5', opacity='0.9', fill='#2D2D2D', width='263', height='92')
        g
            rect(x='23.708', y='136', fill='none', width='254.042', height='89')
            text(transform='matrix(1 0 0 1 23.708 145)')
                tspan(x='0', y='0', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='12') Preso por el caso Odebrecht. El Tercer Juzgado 
                tspan(x='0', y='14', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='12') de Investigación Preparatoria de la Sala Penal 
                tspan(x='0', y='28', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='12') Nacional le dio 18 meses de prisión preventiva 
                tspan(x='0', y='42', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='12') mientras se le investiga por presuntos sobornos 
                tspan(x='0', y='56', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='12') de Odebrecht para ser favorecido en la Costa 
                tspan(x='0', y='70', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='12') Verde del Callao.
    g#Capa_7
        rect(x='29.75', y='281.5', opacity='0.9', fill='#2D2D2D', width='237', height='78')
        circle(fill='#FFFFFF', cx='29.458', cy='332.291', r='2')
        circle(fill='#FFFFFF', cx='44.458', cy='347.291', r='2')
        circle(fill='#FFFFFF', cx='44.458', cy='332.291', r='2')
        g
            rect(x='35.583', y='287.208', fill='none', width='226.667', height='66.792')
            text(transform='matrix(1 0 0 1 35.5825 296.208)')
                tspan(x='0', y='0', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='12') . Alcalde de Bellavista por Chimpum. 
                tspan(x='0', y='14', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='12') . Investigado por presunta malversación de 
                tspan(x='0', y='28', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='12') gratificaciones impagas a trabajadores 
                tspan(x='0', y='42', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='12') municipales y descuentos a funcionarios 
                tspan(x='0', y='56', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='12') por un préstamo de cooperativas.
    g#Capa_10
        rect(x='30.75', y='390.5', opacity='0.9', fill='#2D2D2D', width='236', height='63')
        g
            rect(x='35.296', y='397.25', fill='none', width='241.454', height='60.25')
            text(transform='matrix(1 0 0 1 35.2959 406.25)')
                tspan(x='0', y='0', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='12') . Esposa de Félix Moreno. Ex consejera 
                tspan(x='0', y='14', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='12') regional del Callao por Chimpum 
                tspan(x='172.519', y='14', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='11') (2007-2010). 
                tspan(x='0', y='28', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='12') Investigada por la compra de la casa de 
                tspan(x='0', y='42', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='12') Moreno con un préstamo no aclarado.
    g#Capa_11
        rect(x='18.75', y='477.5', opacity='0.9', fill='#2D2D2D', width='267', height='87')
        g
            rect(x='22.25', y='480.167', fill='none', width='262.5', height='83')
            text(transform='matrix(1 0 0 1 22.25 489.167)')
                tspan(x='0', y='0', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='12') . Gerenta de Infraestructura del Gobierno Regional del 
                tspan(x='0', y='14', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='12') Callao. Fue consejera regional (2011-2014) y regidora 
                tspan(x='0', y='28', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='12') provincial (2007-2010) por Chimpum. Asegura que se 
                tspan(x='0', y='42', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='12') afilió al movimiento solo para ser candidata pero que 
                tspan(x='0', y='56', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='12') no ejerce militancia ni cargo directivo.
                tspan(x='0', y='70', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='12') . Investigada por el caso de la Costa Verde del Callao. 
    g#Capa_12
        rect(x='33.75', y='578.5', opacity='0.9', fill='#2D2D2D', width='252', height='92')
        g
            rect(x='38.37', y='583.5', fill='none', width='243.761', height='85')
            text(transform='matrix(1 0 0 1 38.3696 592.5)')
                tspan(x='0', y='0', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='12') . Fue gerente de Infraestructura del Gobierno 
                tspan(x='0', y='14', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='12') Regional del Callao. 
                tspan(x='0', y='28', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='12') . Investigado por la Fiscalía por los casos de la 
                tspan(x='0', y='42', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='12') Costa Verde del Callao, Gambetta, sauna-spa 
                tspan(x='0', y='56', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='12') en el Pentagonito y presunto favorecimiento a 
                tspan(x='0', y='70', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='12') un proveedor de ambulancias.
    g#Capa_13
        rect(x='39.75', y='691.5', opacity='0.9', fill='#2D2D2D', width='229', height='70')
        rect(x='43.375', y='699.583', fill='none', width='225.708', height='59.584')
        text(transform='matrix(1 0 0 1 43.375 709.333)')
            tspan(x='0', y='0', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='13') . Gerente de Asesoría Jurídica del 
            tspan(x='0', y='15', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='13') Gobierno Regional del Callao.
            tspan(x='0', y='30', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='13') . Investigado por la Fiscalía por los 
            tspan(x='0', y='45', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='13') casos Gambetta y de losas deportivas.
    g#Capa_14
        rect(x='41.75', y='791.5', opacity='0.9', fill='#2D2D2D', width='216', height='78')
        g
            rect(x='47.296', y='796.833', fill='none', width='212.787', height='73.001')
            text(transform='matrix(1 0 0 1 47.2959 805.833)')
                tspan(x='0', y='0', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='12') . Gerenta de Desarrollo Social del 
                tspan(x='0', y='14', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='12') Gobierno Regional del Callao y regidora 
                tspan(x='0', y='28', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='12') provincial por Chimpum.
                tspan(x='0', y='42', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='12') . Investigada por el caso del sauna-spa 
                tspan(x='0', y='56', fill='#FFFFFF', font-family="'Roboto-Regular'", font-size='12') en el Pentagonito.
