@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script:700);

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Roboto';
    /*background-color: #282828;*/
    color: #222222;
    webkit-tap-highlight-color: #222;
}

hr {
    max-width: 80px;
    border-width: 3px;
    opacity: 0.09;
    margin-top: 15px;
    margin-bottom: 15px;
}

hr.light {
    border-color: #fff;
}

a {
    color: #10ad22;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #ccc;
    outline: 0;
}

h1,h2,h3,h4,h5,h6,tspan {
    font-family: 'Roboto';
}

section h2 {
    font-size: 40px;
}
p {
    font-size: 17px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.wide-space {
    letter-spacing: 1.6px;
}

.icon-lg {
    font-size: 50px;
    line-height: 18px;
}

.bg-primary {
    background-color: #333;
}

.bg-dark {
    color: #eee;
    background-color: #222;
}

.cursive {
    font-family: 'Dancing Script', cursive;
    text-transform: none;
}

.text-faded {
    color: rgba(245,245,245,0.7);
}

.text-dark {
    color: #111;
}

.text-primary {
    color: #10ad22;
}

section {
    padding: 70px 0;
}

aside {
    padding: 50px 0;
}

footer {
    padding: 30px 0;
}



/*#video-background.collapsing {
  display:none;
}*/

footer {
    background-color:#2d2d2d;
    color: #fff;
    text-align: center;
    hr {
    max-width: 320px;
    }
    .logo-creditos {
        padding: 30px;
    }

}

@media(min-width:768px) {
    .icon-lg {
        font-size: 80px;
    }
    
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 800px;
    }

    header .header-content .inner h1 {
        font-size: 53px;
    }

    header .header-content .inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
    
    section {
        min-height: 600px;
        padding: 41px 0;
    }

}

/*redes*/
.homepage-hero-module .btn-redes {
  display: block; }

.btn-redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 9px;
  padding-bottom: 15px; }

.btn-redes .share-buttons-square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.btn-redes .share-buttons-square .fb, .btn-redes .share-buttons-square .twiter {
  margin: 5px; }

.intro-shipibas .btn-redes, .colleccion .btn-redes {
  margin-top: 23px; }
/**/
/*ORGANIGRAMA*/

/**/
/*ESTADISTICAS*/
#three {
    padding: 75px 0
}
#three h2{
    text-align: center;
    padding: 0px 0 50px
}
/**/
/*LINEA DE TIEMPO*/
#four h2{
    text-align: center;
    padding: 10px 0 20px
}
/**/
/*map*/
.mapa {
    padding: 20px 0;
}
/*---*/
#canada-map { 
      padding-top: 50px;
  fill: hsl(120, 55%, 40%);
      width: 586px;
    height: 594px;
}
#canada-map g {
  transition: .3s;
}
#canada-map g:hover { 
  fill: hsl(120, 55%, 20%);
  cursor: pointer;
}
.active, .active:hover { 
  fill: #333333 !important;
}  
#canada-map path {
        stroke: #fff;
    stroke-width: 2.5px;
}
#last h2{
    text-align: center;
        padding: 0 0 7px;
}
#provinceInfo { 
  /*position: absolute;
  top: 0; right: 0;
  width: 25%;
  background: rgba(0,0,0,0.2);*/
  pointer-events: none;
  /*opacity: 0;*/
  transition: 1s;
  border: 1px solid #2e9e2e; 
}
@media all and (max-width: 800px) {
  #provinceInfo { width: 40%; }
}
@media all and (max-width: 750px) {
  #provinceInfo { 
    width: 100%; 
    position: static; 
    background: none;
  }
#provinceInfo.show p { 
  color: #000 !important; 
  margin-bottom: 2rem; 
  }
}
#provinceInfo.show { opacity: 1; }
#provinceInfo h3 {
  background: #333333;
  color: #fff;
  padding: .3rem;
  padding-left: 1rem;
  margin-top: 0rem;
  font-weight: 400;
}
#provinceInfo p {
  margin-left: 2rem;
  margin-right: 2rem;
}
#provinceInfo img {
  width: 100%;
}

/**/
#four img {
        width: 100%;

}

/*hober svg*/
/*organigrama*/
#two {
  padding: 5% 0 1%;
}
svg #Capa_5,#Capa_6,#Capa_7,#Capa_8,
#Capa_9,#Capa_10,#Capa_11,#Capa_12,#Capa_13,#Capa_14 {
        opacity:0;
        &:hover {
            opacity:1;
        }
    }

